.popover-modal#carts-popover
  .content
    .col-xs-12.col-sm-12.col-md-12.col-lg-12
      .title.margin-bottom-25
        %h3.pull-left
          %span.title_of_carts_order
            = translate("shopping_cart.title")
    .col-xs-12.col-sm-12.col-md-12.col-lg-12{style: "padding: 0px"}
      .content-form
        - if current_user.blank?
          %h4= translate("need_sign_in")
        - else
          = render "cart_orders/list_of_jewels"
